Appium-Python-Client==0.26
Faker==0.8.16
robotframework==3.0.2
robotframework-faker==4.0.0
robotframework-appiumlibrary==1.4.6
selenium==3.0.2
robotframework-pabot==0.44
robotframework-debuglibrary==0.8
pexpect==4.3.1